<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">

<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="table-responsive">
                <table class="table">
                    <tr style="text-align: center">Your tasks</tr>
                    <tr>
                        <td>Title</td>
                        <td>Description</td>
                        <td>Creation Date</td>
                        <td>Deadline</td>
                        <td>Status</td>
                    </tr>
                    <th:block
                            th:each="task : ${tasks}">
                        <tr>
                            <td th:text="${task.title}"></td>
                            <td th:text="${task.description}"></td>
                            <td th:text="${task.creationDate}"></td>
                            <td th:text="${task.deadline}"></td>
                            <td th:text="${task.isDone()} ? 'Done :)' : 'Not Done :('"/>
                            <br>
                    </th:block>

                </table>

                <form class="form-horizontal" action="/add" method="post">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="title">Title: </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="title" name="title">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="description">Description: </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="description" name="description">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="deadline">Deadline: </label>
                        <div class="col-sm-8">
                            <input type="datetime-local" class="form-control" name="deadline" id="deadline">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8">
                            <button type="submit" class="btn-success">Add</button>
                        </div>
                    </div>
                </form>

            </div>
            <div class="container" align="right">
                <form action="/logout" method="get">
                    <button type="submit" class="btn-success">Logout</button>
                </form>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>


</body>
</html>