<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
Users
<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <th:block th:each="user : ${users}">
                <tr>
                    <!--                    <td th:text="${id}"></td>-->
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.surname}"></td>
                    <td th:text="${user.dateOfBirth}"></td>
                    <td th:text="${user.isAdmin()} ? 'Role: Admin' : 'Role: User'"/>
                    <td th:text="${user.email}"></td>
                </tr>
                <!--            <td><button><a th:href="@{'/shoppingcart/' + ${product.id} + '/addToCart'}">ADD</a></button></td>-->
                </tr>
                <br>
            </th:block>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <form action="/logout" method="get">
        <button type="submit" class="btn-success">Logout</button>
    </form>
</div>

</body>
</html>